<div class="container mt-5">
  <h1>Todos os pets</h1>
  <ul>
    <% @pets.each do |pet| %>
      <li><%= link_to pet.name, pet_path(pet)  %></li>
    <% end %>
  </ul>

  <%= link_to "Adicionar Pet",  pets_new_path, class: 'btn btn-info' %>
</div>
